lightfm==1.16
pyodbc
azureml-sdk
azure-cosmos
azureml-pipeline
pandas
numpy
pyyaml
lightfm==1.16
cloudpickle
tqdm
plotly==4.14.3
omegaconf
sqlalchemy
scikit-learn
scipy
dataclasses
azure-storage-blob
typing
pytest
kaleido
matplotlib
lightgbm
sklearn